// COLOR 

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-light-3: #b3b3b3;

$color-white: #fff;
$color-black: #000;

$color-green-dark: #7ba020;
$color-green-mid: #a3d32c;
$color-green-light: #b4e04a;

$color-orange-dark: #FF3E00;
$color-orange-light: #FF7000;

$color-yellow-dark: #FF9E00;
$color-yellow-light: #e4c779;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-bluegray-faint: #8897AD;

$color-bluegray-dark : #263942;


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 140rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-vertical-small-2: 4rem;
$gutter-vertical-small-1: 2rem;
$gutter_horizontal: 6rem;
$gutter_horizontal-small: 2rem;
