.util__imgsmall {
    width: 2rem;
    height: 2rem;
    border-radius: 2px;
    transform: translateY(.5rem);
}

.util__imgmid {
    width: 4rem;
    height: 4rem;
    border-radius: 2px;
    //transform: translateY(.5rem);
}